@charset "EUC-KR";

#noticeWrite_table {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

#noticeWrite_titleTd {
	font-size: 15pt;
	font-weight: 600;
	padding-left: 20px;
	color: #43A047;
	text-decoration: underline;
}

.noticeWrite_Td1 {
	font-size: 12pt;
	font-weight: 600;
	padding-left: 10px;
	color: #43A047;
}

#noticeWrite_textInput {
	width: 90%;
	border: none;
	border-bottom: #43A047 solid 2px;
	outline: none;
}

#noticeWrite_textarea {
	width: 90%;
	resize: none;
	height: 250px;
	outline: none;
	border: #43A047 solid 2px;
}

#noticeWrite_textarea:focus, #noticeWrite_textInput:focus {
	border-color: #EF5350;
}